/* -------------------
      Import things
   ------------------- */

// Import Charset
@charset "utf-8";

/* -------------------
   Customize variables
   ------------------- */

// General colors
$darker-gray: #1c1c1c;
$lighter-gray: #5b5b5b;
$coral: #df5555;
$white: #ffffff;
$black: #000000;

// General object colors
$primary: $coral;
$text: $white;

// Settings
$body-background-color: $darker-gray;
$body-color: $text;
$title-color: $text;
$message-body-padding: 6px;

/* -------------------
      CSS Settings
   ------------------- */

// Full size Body for Flex alignments
body {
  height: 100vh;
  width: 100vw;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

// Full height centered container
.vert-container {
  // Flex-item props
  flex: 1 0 60vw;
  // Flex-container props
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
}

// Flex height container for basic search elements
.ui-container {
  flex-basis: 20vh;
  text-align: center;
  padding: 8px;
}

// Input bar: Long Link input, Small button
.input-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-bar input {
  flex: 1 1;
}

@media (min-width: 1000px) {
  .input-bar input {
    flex: 0 1 500px;
  }
}

.input-bar button {
  flex: 0 0;
  margin-left: 4px;
}

// Playlist Bpx
.message-container {
  flex: 0 0 20vw;
  justify-content: center;
}

.message {
  width: 92%;
  height: 96%;
  margin: 8px 8px 8px 0;
  overflow: auto;
}

.message-body {
  padding: 0px;
}

.video {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 6px;
}

.video img {
  border-radius: 4px;
  transition: .5s ease;
}

.video p {
  color: $darker-gray;
  flex: 0 0 1.6em;
  overflow: hidden;
  font-weight: bold;
}

.vid-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.vid-overlay a {
  border: 5px solid $primary;
  border-radius: 4px;
  color: white;
  font-size: 8px;
  padding: 4px;
}

.vid-container:hover img {
  opacity: 0.3;
}

.vid-container:hover .vid-overlay {
  opacity: 1;
}

.player-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.player-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.player-container-4x3 {
  padding-top: 75%;
}

/* -------------------
     Import things
    that need to be
     imported later
   ------------------- */

// Import Bulma after setting everything up
@import "../node_modules/bulma/bulma";
